.plantspage {
  margin: 0 auto;
  background: #e5e5e5;
}

.shop-banner {
  display: flex;
  justify-content: center;
}

.shopPage-banner {
  width: 100%;
}

.plants-page_general {
  display: flex;
  justify-content: space-evenly;
  padding-top: 5%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 19.5%;
}

.plants-categories {
  background: #ffffff;
  padding: 8%;
  border-radius: 10px;
}

.opencategoriesBtn {
  background: transparent;
  border: none;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.opencategoriesBtn:hover {
  color: #3b823e;
}

.plants-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  width: 60%;
  padding-bottom: 5%;
}

.plant-card {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 3%;
  border-radius: 10px;
  width: 25%;
  background-color: #ffffff;
}

.show-plants {
  flex-direction: column;
  gap: 15px;
  padding: 7% 0 7% 7%;
}

.show-plants button {
  width: 65%;
  background: transparent;
  border: none;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
  text-align: left;
}

.show-plants p {
  padding-left: 10%;
}

.plant-card img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}

.plant-card p {
  margin: 0;
  font-weight: 600;
}

.plant-cardBtn {
  padding: 20px;
  width: 100%;
  background: #3b823e;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
}

.price {
  background: #ffffff;
  padding: 8%;
  border-radius: 10px;
}

.priceBtn {
  background: transparent;
  border: none;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.plantsBtn {
  background: transparent;
  border: none;
  font-size: 17px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  cursor: pointer;
}

.show-price {
  padding: 7% 0 7% 7%;
}

.include {
  padding: 8%;
  background: #ffffff;
  border-radius: 10px;
}

.include-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 1.5%;
}

.include-wrapper p{
  margin: 0;
}